/*Colors*/


/*
background - #64b255
hover - #83c178
border - #92c989
number/letter - #ecf5ea
right hand commands - #3f6337
*/


/*Main Styles*/

body {
  font-family: 'Helvetica', arial, sans-serif;
  font-weight: lighter;
  width: 100%;
  margin: 0 auto;
  background-image: url("images/einstein.jpg");
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
}

#container {
  padding-top: 5em;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 28%;
}

.dividers{
  display: flex;
}

/*Calculator Styles*/

input{
  outline: none;
  border-collapse: collapse;
}


input[type="button"] {
    width: 80px;
    color: #ecf5ea;
    background-color: transparent;
    font-family: monospace, sans-serif;
    font-size: 28px;
    font-weight: 50;
    margin: .5px;
    padding: 1em;
    border: none;

}

input[type="button"]:hover{
  background-color: #83C178;
}

#zero {
    width: 161px;
}

#modulus,
#sqrt {
    color: #ecf5ea;
    background-color: transparent
}

#clear:hover,
#modulus:hover,
#sqrt:hover {
    background-color: #83C178;
}

#answer {
    width: 323px;
    text-align: right;
    border: 1px dashed #83C178;
}

#answer:hover{
  background-color: transparent;
}

input[class="operator"] {
    color: #83c178;
    background-color: transparent;
}

input[class="operator"]:hover {
    color: #ecf5ea;
    background-color: #83C178;
}
